@model IEnumerable<PersonalFinanceTracker.Models.CategoryDto>

@{
    ViewBag.Title = "Add an Expense";
}

<div class="container">
    <h3 class="text-center">Add an Expense</h3>
    <form action="@Url.Action("CreateExpense", "Transaction")" method="POST">
        <div class="form-group">
            <label for="expenseTitle">Expense Title</label>
            <input type="text" class="form-control" id="expenseTitle" name="Title" placeholder="Enter the expense title" required>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="amount">Amount</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                    </div>
                    <input type="text" class="form-control" id="amount" name="Amount" placeholder="Enter amount" required>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="category">Category</label>
                <select id="category" name="CategoryId" class="form-control" required>
                    <option value="" selected>Choose Category</option>
                    @foreach (var category in Model)
                    {
                        <option value="@category.CategoryId">@category.CategoryName</option>

                    }
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="date">Date</label>
                <input type="date" class="form-control" name="TransactionDate" id="date" required>
            </div>
            <div class="form-group col-md-6">
                <label for="repeats">Repeats</label>
                <select id="repeats" class="form-control">
                    <option selected>Doesn't Repeat</option>
                    <option>Daily</option>
                    <option>Weekly</option>
                    <option>Monthly</option>
                    <option>Yearly</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-submit btn-block">Submit</button>
    </form>
</div>